body{
    background-color: rgb(201, 201, 124);
}

.en-tete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 40px;
    background-image: url(image/wallpaper.jpg);
    border-radius:10px;
}

.en-tete img{
    margin: auto;
    width: 250px;
}

.corp{
    border: 5px solid rgb(65, 65, 255);
    border-radius: 10px;
    margin: 40px;
    background-color: rgb(223, 223, 223);
    padding: 20px;

}

.liste_visu{
    margin: auto;
    text-align: center;
    line-height: 225%;
    font-family: "MS Shell Dlg 2";
    background-image: url(image/win_title.jpg);
    color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.liste_mana{
    margin-bottom: 40px;
    display:flex;
    justify-content: center;
}

.boutton_mana{
    font-family: "MS Shell Dlg 2";
    margin: 0px 5px 0px 5px;
    cursor:pointer;
    border-radius: 50%;
    border: solid 1px transparent;
    height: 25px;
    width: 25px;
    transition:  0.2s ease-out 100ms

}

.boutton_mana:hover{
    border-color : grey;
}


.boutton_mana.all{
    width: 70px;
    text-align: center;
    line-height: 11px;
    border-radius: 0px;
}

.boutton_mana img{
    width: 25px;
}

.d_carte{
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_container {
    position:relative;
    display:inline-block;
    margin:0px 4px 0px 4px;
}

.card_container > IMG{
    height: 320px;
    border-radius: 10px;
}

.button_liste_mv{
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.button_mag{
    font-family: "MS Shell Dlg 2";
    color: black;
    background-color: white;
}

.button_mag > IMG{
    margin:auto;
    width: 15px;
}
